:root {
    font-family: 'Roboto', sans-serif;
    --img-gap: 15px;
    --main-color: rgba(21, 179, 87, 0.925);
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-rows: 150px 100%;
}

img {
    object-fit: fill;
}

.icon {
    height: 20px;
}


/* Sidebar */
.sidebar {
    display: grid;
    grid-auto-flow: row;
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    background-color: var(--main-color);
    color: azure;
    gap: 50px;
    grid-template-rows: 50px 220px 110px;
}

.branding {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.pages, .settings {
    display: grid;
    grid-template-columns: 20px auto;
    gap: var(--img-gap);
    grid-auto-flow: row;
    align-items: center;
    justify-content: start;
    padding-left: 20px;
    font-size: 1.35rem;
    font-weight: 500;
}

.sideIcon {
    height: 20px;
    color: azure;
}


#logoImage {
    height: 45px;
}

.logoText {
    font-size: 1.5rem;
    font-weight: 900;
}

/* Header */

header {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 1 /2;
    grid-auto-flow: column;
    padding-left: 30px;
    padding-right: 50px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;
    align-items: center;
    background-color: azure;
    padding-top: 15px;
    position: relative;
    box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.2);

}

.searchBar {
    display: grid;
    width: clamp(200px, 40vw, 500px);
    height: 20px;
    gap: var(--img-gap);
    grid-auto-flow: column;
    justify-content: start;
    grid-template-columns: 20px 100%;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.menu {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    gap: var(--img-gap);
    align-items: center;
}

input {
    background-color: lightgray;
    border: 0;
    border-radius: 8px;
}

.welcome {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 60px auto;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: column;
    height: auto;
    justify-content: start;
    align-items: center;
    gap: var(--img-gap);
    row-gap: 0;
}

.profileName, .title.small, .command{
    font-weight: 700;
    font-size: large;
}

.profileName.big {
    font-size: 1.5rem;
}

.profilePicture.small{
    height: 40px;
}

.profilePicture.big {
    height: 60px;
    grid-row: 1 / 3;
}

.commands {
    display: grid;
    grid-auto-flow: column;
    justify-items: end;
    gap: var(--img-gap);
}

.command {
    background-color: var(--main-color);
    color: azure;
    width: 100px;
    height: 40px;
    border: 0;
    border-radius: 8px;

}

/* Main */

.main {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: lightgrey;
    grid-template-columns: 5fr 2fr;
    grid-template-rows: 1fr 1fr;
    padding-left: 20px;
    padding-top: 20px;
}

.projects {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.cardWrapper {
    display: grid;
    grid-auto-flow: column;
    gap: var(--img-gap);
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: start;
    margin-top: 10px;
    
}

.title.big {
    font-size: larger;
    font-weight: 700;
    
}

.text {
    font-size: 0.9rem;
    font-weight: 200;
}

.card.project {
    background-color: azure;
    max-width: 350px;
    height: 150px;
    border-left: 10px solid orange;
    border-radius: 16px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: grid;
    gap: 5px;
    align-content: space-around;
}

.cardButtons {
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    gap: var(--img-gap);
}