:root {
    font-family: 'Roboto', sans-serif;
    --img-gap: 15px
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-rows: 125px 100%;
}

img {
    object-fit: fill;
}

.icon {
    height: 20px;
}


/* Sidebar */
.sidebar {
    display: grid;
    grid-auto-flow: row;
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    background-color: rgba(21, 179, 87, 0.925);
    color: azure;
    gap: 50px;
    grid-template-rows: 50px 220px 110px;
}

.branding {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.pages, .settings {
    display: grid;
    grid-template-columns: 20px auto;
    gap: var(--img-gap);
    grid-auto-flow: row;
    align-items: center;
    justify-content: start;
    padding-left: 20px;
    font-size: 1.2rem;
    font-weight: 500;
}

.sideIcon {
    height: 20px;
    color: azure;
}


#logoImage {
    height: 45px;
}

.logoText {
    font-size: 1.5rem;
    font-weight: 900;
}

/* Header */

header {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 1 /2;
    grid-auto-flow: column;
    padding-left: 30px;
    padding-top: 20px;
}

.searchBar {
    display: grid;
    width: clamp(200px, 30vw,400px);
    height: 20px;
    gap: var(--img-gap);
    grid-auto-flow: column;
    justify-content: start;
    grid-template-columns: 20px 100%;
}

input {
    background-color: lightgray;
    border: 0;
    border-radius: 8px;
}

.profilePicture.small{
    height: 40px;
}

/* Main */

main {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: lightgrey;
}